<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ure.mapper.UreportFileMapper">

	<resultMap type="UreportFileEntity" id="UreportfileResult">
		<result property="id"    column="id"    />
		<result property="name"   column="name"    />
		<result property="content"    column="content"    />
		<result property="createTime"  column="create_time"    />
		<result property="updateTime"  column="update_time"    />

	</resultMap>

	<sql id="selectUreportfileVo">
        select id, name, content, create_time, update_time from ureportfile
    </sql>

	<select id="selectUreportfileList" parameterType="UreportFileEntity" resultMap="UreportfileResult">
		<include refid="selectUreportfileVo"/>
		<where>
			<if test="id != null  and id != '' "> and id = #{id}</if>
			<if test="name != null  and name != '' "> and name like concat('%',#{name},'%') </if>
			<if test="content != null and content != ''"> and content = #{content}</if>
			<if test="createTime != null "> and create_time = #{createTime}</if>
			<if test="updateTime != null "> and update_time = #{updateTime}</if>
		</where>
	</select>

	<select id="listAllReportFile"  resultMap="UreportfileResult">
		<include refid="selectUreportfileVo"/>
	</select>

	<select id="checkExistByName"  resultType="java.lang.Integer">
		select count(*) from ureportfile where name = #{name}
	</select>

	<select id="getReportFileByName"  resultMap="UreportfileResult">
		<include refid="selectUreportfileVo"/>
		where name = #{name}
	</select>

	<insert id="saveReportFile" parameterType="UreportFileEntity">
		insert into ureportfile
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="content != null  ">content,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="content != null  ">#{content},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
		</trim>
	</insert>

	<update id="updateReportFile" parameterType="UreportFileEntity">
		update ureportfile
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null  and name != ''  ">name = #{name},</if>
			<if test="content != null  ">content = #{content},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="removeReportFileByName" >
        delete from ureportfile where name = #{name}
    </delete>

	<delete id="deleteUreportfileByIds" parameterType="String">
		delete from ureportfile where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper> 